<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <form action="/items/update" method="post">
        <input type="hidden" id="id" name="id" value="<%= result[0].id %>"/>
        <input type="text" id="link" name="link" value="<%= result[0].link %>"/>
        <input type="text" id="name" name="name" value="<%= result[0].name %>"/>
        <input type="text" id="desc" name="desc" value="<%= result[0].description %>"/>
        <button type="submit">Update</button>
    </form>

    <form action="/items/delete" method="post">
        <input type="hidden" name="id" value="<%= result[0].id %>"/>        
        <button type="submit">Delete</button>
    </form>
</body>
</html>